.input-search {
    position: relative;
    width: 100%;
    height: $forms-input-height;
    @include _display-flex(flex, center, flex-start, row);

    @include _forms-bordered();
    background: $color-white;

    label:before {
        position: relative;
        top: 1px;
        margin: 0 10px;
        @include _getIcon('search');
        color: color-gray(4);
    }

    input[type="text"] {
        @include _reset-glow();
        flex: 1;
        height: 100%;
        background: transparent;
        border: 0;

        @include _placeholder() {
            color: lighten($color-paragraph, 14%);
        }

        //remove IEs default X
        &::-ms-clear {
            display: none;
            width: 0;
            height: 0;
        }
    }

    button.clear {
        @include _btn-close(color-gray(4));
        width: $forms-input-height;
    }
}