@import "CssWorkgroup";

.match-list {
    margin: 0 0 5px 0;
    padding: 0;
    @include _list-child-margin(5px, 'li', 'bottom');
}

.match-teaser {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0 5px;
    @include _display-flex(flex, center, flex-start, row);
    @include _move-list-items-in(20);
    text-align: left;

    border-radius: $border-radius;
    background: $color-white;

    > div {
        flex: 1;
    }

    .avatar {
        flex: 0 0 40px;
        height: 40px;
        border-radius: 50%;
        @include _display-flex(flex, center, center);
        @include _font-paragraph('bold', color-gray(5));

        background: rgba($color-black, .07);

        &.-cup:before {
            @include _getIcon('cup');
        }

        &.-custom:before {
            @include _getIcon('custom');
        }
    }

    @each $name, $color in $notificationMap {
        &[data-status^="#{$name}"] .avatar {
            background: $color-paragraph;
            color: $color-white
        }
    }

    .match {
        padding: 5px;

        a {
            display: block;
            padding-bottom: 3px;
            @include _font-paragraph('regular', $color-paragraph);
            line-height: 1.1;
        }

        small {
            @include _font-paragraph('regular', color-gray(5));
        }

        strong {
        }
    }

    .result {
        flex: 0 0 50px;
        @include _font-paragraph('bold', $color-paragraph);
    }
}

.match-status {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 15px;
    height: 15px;

    border-radius: 50%;

    &.-live {
        animation: _pulse-live 2s infinite;
        svg {
            fill: $color-primary;
        }
    }

    &.-done svg {
        fill: color-gray(5);
    }

    &.-warning svg {
        fill: $color-hint;
    }

    &.-unknown svg {
        fill: purple;
    }

    @keyframes _pulse-live {
        0% {
            box-shadow: 0 0 0 0 $color-primary;
        }

        70% {
            box-shadow: 0 0 0 10px transparent
        }

        100% {
            box-shadow: 0 0 0 0 transparent
        }
    }
}