.btn-link {
    position: relative;
    width: auto;
    margin: 0;
    padding: 3px 5px;

    border: 0;
    border-radius: 0;
    background: transparent;

    @include _font-paragraph('regular', $color-paragraph);
    text-decoration: underline;
    text-align: center;
    cursor: pointer;

    &:before {
        position: relative;
        top: 1px;
        margin-right: 5px;
    }

    @include _link-active() {
        outline: none;
        text-decoration: none;
        color: $color-secondary;
    }

    @include _link-disabled() {
        cursor: not-allowed;
        opacity: .5;
        filter: alpha(opacity=30);
    }
}