.btn-default {
  @include _btn-alignment();
  @include _btn-icon();

  border: 0;
  border-radius: 0;
  background: color-gray(7);

  &:before {
    background: $color-black;
  }

  @include _font-button('regular', $color-white);
  text-decoration: none;
  cursor: pointer;

  @include _link-active() {
    outline: none;
    text-decoration: none;
    background: color-gray(8);
  }

  @include _link-disabled() {
    cursor: not-allowed;
    opacity: .3;
    filter: alpha(opacity=30);
  }


  &[data-favourite="add"]:before {
    @include _getIcon('fav-add');
    @include _display-flex(flex, center, center);
  }

  &[data-favourite="remove"] {
    background: color-gray(2);
    color: $color-secondary;

    &:before {
      @include _getIcon('fav-remove');
      @include _display-flex(flex, center, center);
    }
  }
}
