.slick-dots {
    @include _reset-lists();
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30px;
    @include _display-flex(flex !important, stretch, flex-start, row);

    border-top: 1px solid darken($color-black, 100%);
    background: $color-black;

    li {
        flex: 1;
        @include _display-flex(flex, center, center);

        text-transform: uppercase;
        cursor: pointer;
        @include _font-paragraph('bold', color-gray(6));
        @include _font-size($font-size-6);

        &.slick-active {
            color: $color-primary;
        }
    }
}
