/* ================================ *\
Controls
\* ================================ */

////
/// @group controls
////

/// define Button Alignment
@mixin _btn-alignment() {
    position: relative;
    width: auto;
    height: $controls-height;
    margin: 0;
    padding: 3px $grid-gap;
    @include _display-flex(flex, center, center, column);

    &.-small {
        height: $controls-height*.7;
        @include _font-size(70%);
    }
}

/// Additional Icon in Buttons
@mixin _btn-icon() {
    &[data-icon] {
        position: relative;
        padding-left: $controls-height + 10px;

        &:before {
            position: absolute;
            left: 0;
            top: 0;
            width: $controls-height;
            height: 100%;
            @include _display-flex(flex, center, center);
        }

        &:empty {
            padding: 0;
            width: $controls-height;
        }

        &.-small {
            padding-left: $controls-height*.7;

            &:before {
                width: $controls-height*.7;
            }

            &:empty {
                width: $controls-height*.7;
            }
        }
    }

    &[data-icon="next"] {
        padding-left: $grid-gap*2;
        padding-right: $controls-height;

        &:before {
            content: none;
        }

        &:after {
            position: absolute;
            right: 0;
            top: 0;
            width: $controls-height;
            height: 100%;
            @include _getIcon('next');
            @include _display-flex(flex, center, center);
            @include _transition(all);
        }

        @include _link-active() {
            &:after {
                transform: translateX(3px);
            }
        }
    }
}


@mixin _btn-close($color: $color-paragraph) {
    cursor: pointer;
    width: auto;

    &:before {
        position: relative;
        top: 1px;
        @include _getIcon('close');
        @include _transition(all);
        color: $color;
    }

    @include _link-active() {
        &:before {
            transform: scale(1.4);
        }
    }
}