@import "./src/css/workgroup";

.enter-result {
    .table-head-draw,
    .table-row-draw {
        .index {
            position: absolute;
            top: 3px;
            left: 3px;
            z-index: z-index('body');
            @include _font-size(40px);
            color: color-gray(2);
        }

        .team-home,
        .team-guest {
            padding: 0;
            position: relative;
            z-index: z-index('body');
        }

        .score {
            flex: 0 0 50%;
            padding-right: 5px;
            @include _list-child-margin(5px, 'div', 'right');

            > div {
                flex: 1;
                @include _display-flex(flex, center, center, row);
            }

            input[type="number"].input-text {
                padding: 0 5px;
            }

            @include _respond-to(tablets) {
                padding-right: 10px;
                @include _list-child-margin($grid-gap, 'div', 'right');
            }
        }
    }

    .submit {
        margin-top: $grid-gap*2;
        margin-bottom: $grid-gap*2;

        button {
            width: 100%;
        }
    }
}
