@import "CssWorkgroup";

.create-setup-match {

    .section-submit .container {
        @include _containerHelper('normal', $grid-gap);
        @include _formLayoutHelper();
        padding-top: $grid-gap;
        border-top: 1px solid color-gray(2);

        button {
            width: 100%;
            margin-top: $grid-gap;
        }
    }

    .form-group {
        width: 100%;

        @include _respond-to(phones) {
            @include _list-child-margin($grid-gap, '*', 'bottom');
        }

        @include _respond-to(desktops) {
            @include _display-flex(flex, center, flex-start, row);
            @include _list-child-margin($grid-gap, '*', 'right');

            > div {
                flex: 1;
            }
        }
    }
}
