@import "CssWorkgroup";

.gametype {
    width: 100%;
    margin-top: $grid-gap*2;

    @include _respond-to(phones) {
        @include _list-child-margin(5px, '*', 'bottom');
    }

    @include _respond-to(desktops) {
        @include _display-flex(flex, center, flex-start, row);
        @include _list-child-margin($grid-gap, '*', 'right');

        > div {
            flex: 1;
        }
    }
}