@import "CssWorkgroup";

.nav-toggle {
    width: $topbar-height;
    height: $topbar-height;
    background: darken($color-black, 100%);
    @include _display-flex(flex, center, center);
    cursor: pointer;

    &:before {
        position: relative;
        top: -1px;
        color: $color-white;
        @include _font-size($font-size-1);
        @include _getIcon( 'navigator');
    }

    &.-in {
        background: $color-primary;

        &:before {
            @include _getIcon( 'close');
        }
    }
}

.navigation {
    position: relative;
    top: $topbar-height;
    left: 0;
    width: 100vw;
    height: calc(100vh - #{$topbar-height});

    background: $color-dark;
    @include _curtainToggleAnimation(-100vw, $duration: .4s, $direction: 'X');

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 100%;
        width: 50vw;
        height: 100%;
        transform: scaleX(0);
        @include _transition(all);

        background: rgba($color-primary, .7);
    }

    &.-in:before {
        transform: scaleX(1);
    }

    &.-fix {
        position: fixed;
        z-index: map_get($z-index, 'back');
    }

    > .container {
        width: 100%;
        height: 100%;

        ul {
            @include _reset-lists();
            width: 100%;
            height: 100%;

            li {
                position: relative;
                border-top: 1px solid $color-black;
            }
        }

        a {
            display: block;
            padding: $grid-gap $grid-gap;
            @include _font-paragraph('regular', $color-white);
            @include _font-size($font-size-4);

            &:before {
                width: 40px;
                height: 40px;
                margin-right: $grid-gap;
                border-radius: 50%;
                background: $color-black;
                @include _display-flex(inline-flex, center, center);
            }

            @include _link-active() {
                color: $color-primary;
            }
        }
    }
}