@import "CssWorkgroup";

.scoresheet-gamedata {
    position: relative;
    width: 100%;

    .grid {
        @include _display-flex(flex, stretch, flex-start, row, wrap);

        > div {
            width: 50%;
            margin: 0;
            padding: 10px 5px 10px 0;
            border-bottom: 1px solid $border-color;

            @include _font-paragraph('regular', $color-paragraph);

            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    span {
        display: block;
        text-transform: uppercase;
        @include _font-paragraph('normal', $color-grey-paragraph);
    }
}
