.table-head-ranks,
.table-row-ranks {

    .games {
        flex: 0 0 30px;
        text-align: center;
    }

    .rate {
        flex: 0 0 30px;
        text-align: center;
    }

    .diff {
        flex: 0 0 30px;
        text-align: center;
    }

    .score {
        flex: 0 0 42px;
        text-align: center;
        @include _font-paragraph('bold', $color-paragraph);
    }
}

.table-row-ranks {
}