.table {
    position: relative;
    width: 100%;

    @include _font-size($font-size-6);

    &.-striped {
        [class^="table-row"]:nth-child(odd) {
            background: rgba($color-black, .07);
        }
    }

    &.-tiles {
        [class^="table-head"]{
            margin-bottom: 3px;
        }

        [class^="table-row"]{
            background: $color-white;
            margin-bottom: 2px;

            &:last-child {
                border-radius: 0 0 $border-radius $border-radius;
                margin-bottom: 0;
            }
        }
    }

    &.-small {
        [class^="table-row"] {
            padding: 9px 0;
        }
    }

    .-ellipsis {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
}

[class^="table-"] {
    position: relative;
    width: 100%;
    @include _list-child-margin(5px, '*', 'right');

    > div {
        flex: 1;
    }

    .index {
        position: relative;
        top: -1px;
        flex: 0 0 24px;
        text-align: right;
        @include _font-headline('regular', $color-grey-paragraph);
    }
}

[class^="table-head"] {
    padding: 0 0 5px 0;
    @include _display-flex(flex, flex-end, flex-end, row);

    border-bottom: 1px solid $border-color;
    @include _font-paragraph('bold', $font-paragraph);
}

[class^="table-row"] {
    padding: 12px 0;
    @include _display-flex(flex, center, flex-end, row);
}

[class^="table-empty"] {
    width: 100%;
    text-align: center;
    padding: $grid-gap 0;
    @include _font-paragraph('regular', $color-grey-paragraph);
}
