.spinner {
    display: inline-block;
    height: $forms-input-height;

    > div {
        width: 6px;
        height: 100%;
        padding: 0;
        margin: 0 5px 0 0;

        background-color: rgba($color-paragraph, .15);
        display: block;
        float: left;

        animation: sk-stretchdelay 1.2s infinite ease-in-out;

        &.rect2 {
            animation-delay: -1.1s;
        }

        &.rect3 {
            animation-delay: -1.0s;
        }

        &.rect4 {
            animation-delay: -0.9s;
        }

        &.rect5 {
            animation-delay: -0.8s;
        }
    }

    &.-small {
        height: $forms-input-height*.6;

        > div {
            width: 3px;
            margin-right: 3px;
        }
    }
}