.blank-page {
    position: relative;
    width: 100vw;
    height: 100vh;

    @include _display-flex(flex, center, center);

    &:before {
        @include _getIcon('blank-page');
        @include _font-size(54px);
        color: color-gray(2);
    }
}