.section-head {
    position: relative;
    width: 100%;
    margin-top: $grid-gap*2;

    .container {
        @include _containerHelper('normal', $grid-gap);
    }

    h1 {
        @include _font-size($font-size-1);
    }
}