@mixin _anim-scaleYForward(){
  @include _keyframes('_scaleY-forward') {
    0% {
      opacity: 0;
      transform: scaleY(0);
    }
    100% {
      opacity: 1;
      transform: scaleY(1);
    }
  }
}