.pill {
    position: relative;

    &.-small {
        width: 20px;
        height: 20px;
        padding-bottom: 1px;
        @include _display-flex(inline-flex, center, center);

        border-radius: 50%;
        background: $color-paragraph;
        @include _font-paragraph('bold', $color-white);
        @include _font-size($font-size-7);
    }
}