@import "CssWorkgroup";

.scoresheet-share {
    position: relative;
    width: 100%;

    background: darken($color-background, 12%);

    .container {

    }

    ul {
        @include _reset-lists();
        @include _display-flex(flex, stretch, flex-start, row);
        @include _list-child-margin(2px, 'li', 'right');

        li {
            flex: 1;
        }

        button {
            width: 100%;
            height: 40px;
            @include _display-flex(flex, center, center);

            cursor: pointer;
            background: darken($color-background, 20%);
            @include _font-size($font-size-2);

            @include _link-active() {
                background: darken($color-background, 23%);
            }
        }
    }
}