@import "functions.toggle-bg";

$color-grey: () !default;
@function color-gray($shade) {
    @return nth($color-grey, $shade);
}


$iconMap: () !default;
/// Return Icon from map
/// @access public
/// @param {string} $name
@function icon($name) {
    @return map-get($iconMap, $name);
}

$z-index: () !default;
/// Return Z-Index
/// @access public
/// @param {string} $value
@function z-index($value) {
    @return map-get($z-index, $value);
}

/// Return first item of map
/// @access public
/// @param {list} $map
@function first($map) {
    @return nth($map, 1);
}


/// Return last item of map
/// @access public
/// @param {list} $map
@function last($map) {
    @return nth($map, length($map));
}